USE [master]
GO
/****** Object:  Database [LegaGestaoTorneiosDB]    Script Date: 02/06/2026 22:47:29 ******/
CREATE DATABASE [LegaGestaoTorneiosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LegaGestaoTorneiosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\LegaGestaoTorneiosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LegaGestaoTorneiosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\LegaGestaoTorneiosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LegaGestaoTorneiosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LegaGestaoTorneiosDB]
GO
/****** Object:  Table [dbo].[Equipas]    Script Date: 02/06/2026 22:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipas](
	[EquipaId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Icones]    Script Date: 02/06/2026 22:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Icones](
	[IconeId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[CaminhoAsset] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IconeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jogos]    Script Date: 02/06/2026 22:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogos](
	[JogoId] [int] IDENTITY(1,1) NOT NULL,
	[TorneioId] [int] NOT NULL,
	[Fase] [int] NOT NULL,
	[Slot] [int] NOT NULL,
	[EquipaA_Id] [int] NULL,
	[EquipaB_Id] [int] NULL,
	[GolosA] [int] NULL,
	[GolosB] [int] NULL,
	[PenaltisA] [int] NULL,
	[PenaltisB] [int] NULL,
	[VencedorId] [int] NULL,
	[JogoSeguinteId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JogoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneio_Equipas]    Script Date: 02/06/2026 22:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneio_Equipas](
	[TorneioId] [int] NOT NULL,
	[EquipaId] [int] NOT NULL,
	[StatusNaCompeticao] [varchar](50) NOT NULL,
	[PJ] [int] NULL,
	[V] [int] NULL,
	[E] [int] NULL,
	[D] [int] NULL,
	[PTS] [int] NULL,
	[GM] [int] NULL,
	[GC] [int] NULL,
	[SG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TorneioId] ASC,
	[EquipaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneios]    Script Date: 02/06/2026 22:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneios](
	[TorneioId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](150) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[EquipaCampeaId] [int] NULL,
	[Excluido] [bit] NOT NULL,
	[DataCriacao] [datetime] NULL,
	[IconeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TorneioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 02/06/2026 22:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[PalavraPasseHash] [varchar](255) NOT NULL,
	[DataCriacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Equipas__7D8FE3B29A2B4316]    Script Date: 02/06/2026 22:47:30 ******/
ALTER TABLE [dbo].[Equipas] ADD UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Torneios__7D8FE3B2F297759B]    Script Date: 02/06/2026 22:47:30 ******/
ALTER TABLE [dbo].[Torneios] ADD UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D10534306D36AB]    Script Date: 02/06/2026 22:47:30 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ((0)) FOR [PJ]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ((0)) FOR [V]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ((0)) FOR [E]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ((0)) FOR [D]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ((0)) FOR [PTS]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ((0)) FOR [GM]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ((0)) FOR [GC]
GO
ALTER TABLE [dbo].[Torneio_Equipas] ADD  DEFAULT ((0)) FOR [SG]
GO
ALTER TABLE [dbo].[Torneios] ADD  DEFAULT ((0)) FOR [Excluido]
GO
ALTER TABLE [dbo].[Torneios] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD FOREIGN KEY([EquipaA_Id])
REFERENCES [dbo].[Equipas] ([EquipaId])
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD FOREIGN KEY([EquipaB_Id])
REFERENCES [dbo].[Equipas] ([EquipaId])
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD FOREIGN KEY([JogoSeguinteId])
REFERENCES [dbo].[Jogos] ([JogoId])
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD FOREIGN KEY([TorneioId])
REFERENCES [dbo].[Torneios] ([TorneioId])
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD FOREIGN KEY([VencedorId])
REFERENCES [dbo].[Equipas] ([EquipaId])
GO
ALTER TABLE [dbo].[Torneio_Equipas]  WITH CHECK ADD FOREIGN KEY([EquipaId])
REFERENCES [dbo].[Equipas] ([EquipaId])
GO
ALTER TABLE [dbo].[Torneio_Equipas]  WITH CHECK ADD FOREIGN KEY([TorneioId])
REFERENCES [dbo].[Torneios] ([TorneioId])
GO
ALTER TABLE [dbo].[Torneios]  WITH CHECK ADD FOREIGN KEY([EquipaCampeaId])
REFERENCES [dbo].[Equipas] ([EquipaId])
GO
ALTER TABLE [dbo].[Torneios]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Torneios]  WITH CHECK ADD  CONSTRAINT [FK_Torneios_Icones] FOREIGN KEY([IconeId])
REFERENCES [dbo].[Icones] ([IconeId])
GO
ALTER TABLE [dbo].[Torneios] CHECK CONSTRAINT [FK_Torneios_Icones]
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD  CONSTRAINT [CHK_Jogos_GolosA] CHECK  (([GolosA]>=(0)))
GO
ALTER TABLE [dbo].[Jogos] CHECK CONSTRAINT [CHK_Jogos_GolosA]
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD  CONSTRAINT [CHK_Jogos_GolosB] CHECK  (([GolosB]>=(0)))
GO
ALTER TABLE [dbo].[Jogos] CHECK CONSTRAINT [CHK_Jogos_GolosB]
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD  CONSTRAINT [CHK_Jogos_PenaltisA] CHECK  (([PenaltisA]>=(0)))
GO
ALTER TABLE [dbo].[Jogos] CHECK CONSTRAINT [CHK_Jogos_PenaltisA]
GO
ALTER TABLE [dbo].[Jogos]  WITH CHECK ADD  CONSTRAINT [CHK_Jogos_PenaltisB] CHECK  (([PenaltisB]>=(0)))
GO
ALTER TABLE [dbo].[Jogos] CHECK CONSTRAINT [CHK_Jogos_PenaltisB]
GO
USE [master]
GO
